<div class="ui basic segment grid">
  <div class="sixteen column row">
    <div class="ten wide column">
      <div class="ui grid row">
        <div class="four wide column">
          <h3 class="ui header">Interchange</h3>
          <div class="ui fluid selection dropdown">
          <i class="dropdown icon"></i>
          <div class="default text"><b>Interchange</b></div>
          <div class="menu">
          <div class="item" ng-repeat="ichange in interchanges" ng-click="onInterchangeChange(ichange)">{{ichange}}</div>
            </div>
          </div>
        </div>
        <div class="four wide column">

          <div class="ui">
          <h3 class="ui header">Date and Time </h3>

          <div class="ui left icon input">
          <input type="text" name="reservation"
                     id="triptime"
                     value="2015-12-01 07:00:00 - 2015-12-01 10:00:00"/>
          <i class="calendar icon"></i>
            </div>

          </div>
        </div>
        <div class="four wide column">
          <h3 class="ui header">Direction</h3>

          <div class="ui buttons">
          <button class="ui button positive" ng-click="setDirection(1)">Inbound</button>
          <div class="or"></div>
          <button class="ui button" ng-click="setDirection(0)">Outbound</button>
          </div>
        </div>
        <div class="four wide column">
          <h3 class="ui header">Buses</h3>
          <div class="ui fluid multiple normal selection dropdown" id="buses_dropdown">
          <i class="dropdown icon"></i>
          <div class="default text"><b>Buses</b></div>
          <div class="menu">
          <div class="item" ng-repeat="busOption in busExchange.getBuses(interchange)" ng-click="onBusSelect(busOption)">{{busOption}}</div>
            </div>
          </div>

        </div>
      </div>
      <div class="ui grid row">
        <div class="column" id="map" style="width:100%; position:absolute; z-index: 0">

        <!-- <div id="overlay" style="position:absolute;z-index:9999">
     HELLo
     </div> -->
        <div id="popup"></div>
        </div>

      </div>
    </div>
    <div class="four wide column">
      <div class="ui top attached tabular menu">
        <a class="item" data-tab="route-properties">Properties</a>
        <a class="item" data-tab="route_details">Route Info</a>
        <a class="item" data-tab="trip_details">Trip Info</a>
      </div>
      <div class="ui bottom attached tab segment" data-tab="route-properties">

        <div class="ui grid row">

          <div class="ui green horizontal label">Distance around Bus stop</div>
          <div class="ui right labeled input">
            <input type="text" ng-model="coverage_distance" placeholder="Enter coverage Per Stop..">
            <div class="ui basic label">
              meters
            </div>
          </div>

        </div>
        <div class="ui grid row">
          <button class="positive ui button" ng-click="recalculate()">Recalculate</button>
        </div>

      </div>
      <div class="ui bottom attached tab segment" data-tab="route_details">
        <div class="ui accordion">
          <div class="title" ng-repeat-start="busOption in selBuses">
            <i class="dropdown icon"></i>
            {{busOption}}
          </div>
          <div class="content" ng-repeat-end >
            <div class="ui mini statistic" ng-repeat="(statName,statValue) in busRouteInfo[busOption].tripStats">
              <div class="value">
              {{statValue}}
              </div>
              <div class="label">
              {{statName}}
              </div>
            </div>
            <table class="ui celled table" >
              <thead>
                <tr>
                  <th>Stop</th>
                  <th>Users</th>
                  <th>Distance</th>
                  <th>show / Hide</th>
                </tr></thead>
              <tbody>
                <tr ng-repeat="stop in busRouteInfo[busOption].trips[0].stops">
                  <td>{{stop.name}}</td>
                  <td>{{busInfo[busOption].getNumStopUsage(stop.id)}}</td>
                  <td>{{stop.distance}}</td>
                  <td>
                    <button id="hide_{{busOption}}_{{stop.id}}_button" class="ui primary button" ng-click="toggle_stops(busOption, stop.id)">
                      Remove
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="ui bottom attached tab segment" data-tab="trip_details">
        <div class="ui accordion">
        <div class="title" ng-repeat-start="busOption in selBuses">
        <i class="dropdown icon"></i>
        {{busOption}}
          </div>
        <div class="content" ng-repeat-end>
        <div class="ui accordion">
        <div class="title" ng-repeat-start="trip in busRouteInfo[busOption].trips">
        <i class="dropdown icon"></i>
        {{trip.start_time}} - {{trip.end_time}}
              </div>
        <div class="content" ng-repeat-end>
        <div class="ui mini statistic" ng-repeat="(key, value) in busUsageInfo[busOption][trip.id]">
        <div class="value">
        {{key}}
                  </div>
        <div class="label">
        {{value}}
                  </div>
                </div>

        <div class="ui mini statistic">
        <div class="value">
        {{trip.stops[trip.stops.length-1].distance}}
                  </div>
        <div class="label">
        Distance
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
</div>
