<div class="ui visible very thin inverted left vertical sidebar menu">
  <div class="item">
    <a class="ui logo icon image" href="/">
      <img src="../images/marker.png">
    </a>
    <a href="/"><b>Trip Planner</b></a>
  </div>
  <a class="item" href="/availability">
    <i class="home icon"></i>
    Availability
  </a>
  <a class="item" href="/stop-optimizer">
    <i class="block layout icon"></i>
    Route Plan
  </a>
  <a class="item">
    <i class="smile icon"></i>
    Friends
  </a>
</div>
